<div class="row col-6 m-auto mt-4">
  <h1>Add a new Flat</h1>

  <%= simple_form_for(@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

  <%# <%= link_to "Back to Homepage", flats_path, class: "btn btn-link text-decoration-none mt-3 p-0 mb-2" %>
</div>
